footer{
    margin-top: 10%;
    margin-left: -5%;
    margin-right: -5%;
    background-color: #A8AF9C;

    & p{
        margin-left: 12.5%;
        color: #fff;
        font-size: 1.6vw;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}